.dnn-color-picker{
    padding: 15px;
    max-width: 400px;
    .dnn-color-sliders{
        display:flex;
        flex-direction: column;
        min-width: 200px;
        .dnn-color-s-b{
            border: 1px solid #ccc;
            padding-bottom: var(--color-box-height, 50%);
            position: relative;
            background-color: red;
            &:before{
                content: '';
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height:100%;
                    z-index:1;
                    background: linear-gradient(to right, white, red);
                    mix-blend-mode: saturation;
            }
            &:after{
                content: '';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height:100%;
                z-index:2;
                background: linear-gradient(to bottom, white, black);
                mix-blend-mode: luminosity;
            }
            button{
                position: absolute;
                bottom: calc(50% - 4px);
                left: calc(50% - 4px);
                width: 8px;
                height: 8px;
                z-index: 3;
                display: block;
                background: none;
                border: none;
                margin-left: -4px;
                margin-bottom: -4px;
                padding: 7px;
                background-color: #fff;
                border-radius: 50%;
                &:before{
                    content:'';
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    border-radius: 50%;
                }
                &:after{
                    content:'';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    border: 2px solid #ccc;
                }
            } 
        }
        .dnn-color-bar {
            display: flex;
            align-items: center;
            margin-top: 15px;
            .dnn-color-result {
                flex-direction: column;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                background: red;
            }
            .dnn-color-hue{
                flex: auto;
                margin-left: 10px;
                height: 16px;
                border: 1px solid #ccc;
                position: relative;
                background: linear-gradient(
                    to right, 
                    #f00 0, 
                    #ff0 17%,
                    #0f0 33%,
                    #0ff 50%,
                    #00f 67%,
                    #f0f 84%,
                    #f00 100%
                );
                button{
                    width: 10px;
                    height: 22px;
                    position: absolute;
                    top: -2px;
                    left: calc(50% - 4px);
                    border: 0;
                    padding: 0;
                    background-color: transparent;
                    padding-left: -8px;
                    &:before{
                        content:'';
                        position: absolute;
                        top: -2px;
                        left: 0px;
                        border-radius: 3px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ccc;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .dnn-color-entry{
        display:flex;
        justify-content: space-between;
        .dnn-color-fields{
            position: relative;
            width: 100%;
            .dnn-color-field-group{
                position: absolute;
                width:100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                transition: all 300ms;
                opacity: 0;
                visibility: hidden;
                transform: scale(0);                
                &.visible{
                    opacity: 1;
                    transform: scale(1);
                    visibility: visible;
                    transition: all 300ms;
                }                
                .dnn-color-field{
                    display:flex;
                    flex-direction: column;
                    flex-grow: 1;
                    text-align: center;
                    margin: 0.5em;
                    label{
                        padding-top: 0.25em;
                    }
                    dnn-input-number{
                        padding-top: 0.25em;
                        height: 2em;
                    }
                    .hex-input {
                        text-align: center;
                        position: relative;
                        height: 2em;
                        border: 1px solid #ccc;
                        margin: 0.25em auto;
                        background-color:white;
                        border-radius: var(--dnn-button-radius, 3px);                        
                        input{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            border: transparent;
                            background:transparent;
                        }
                        button{
                            position: absolute;
                            right: 0.25em;
                            top: 0;
                            margin: 0;
                            padding: 0;
                            border: 0;
                            background-color: transparent;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            svg{
                                width: 1em;
                            }
                        }
                    }
                }
            }
        }
        .dnn-color-mode-switch{
            padding-top: 2em;
            button{
                border: none;
                background: transparent;
                svg{
                    min-width: 3em;
                }
            }
        }
    }
}